@media only screen and (max-width:600px){
*{box-sizing: border-box;
  top: 0;
  bottom:0;
  right:0;
  left:0;
}
body{
  background-color: purple;
  cursor: default;
  margin-top: 0px;
  margin-bottom: 0px;
}
#sidebar{
  background-color: #990099;
  width:0px;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  z-index: 10;
}
.sidebar{
  background-color: #990099;
  top: 0px;
  bottom: 0px;
  right:0px;
  left:0px;

}
.sidebar-header h4{
  background-color: purple;
  color: white;
  font-size: 18px;
  height: 50px;
  padding-top:10px;
  padding-left:10px;
  margin-top:0px;
  margin-bottom:20px;
  border: 3px solid #990099;
  font-family:"lucida calligraphy", cursive;

}
 .closebtn{
  position: absolute;
  font-size:30px;
  z-index: 9;
  margin-top:5px;
  margin-left: 185px;
}
 .closebtn:hover{
  text-decoration: none;
  color: white;
  cursor: default;
}
.body-text{
  z-index: 8;
}
.buttonlogo{
  position: fixed;
  background-color:purple;
  width: 100%;
  display:flex;
  height:50px;
}
.navlogo{
font-size: 25px;
color: white;
background-color: purple;
width:100%;
font-family:times;
text-align: center;
}
.slogan {
  width: 100%;
  height: 40px;
  margin-top: 50px;
  background-color:purple;
  font-size:11px;
  color:black;
  text-align: center;
  font-weight: bold;
  position:fixed;
  padding-left:1px;
  font-family:"lucida calligraphy", cursive;
}
img{
  width:240px;
  height:200px;
}
.polaroid{
  margin-bottom: 30px;
  position: relative;
  z-index: -3;
  width: 100%;
}
.item{
  width: 240px;
  height: auto;
  background-color:  #990099;
}
.caption{
  font-family: times;
  color:black;
  width: 100%;
  height: auto;
  border: 2px solid #990099;
  padding: 5px;
  word-wrap: break-word;
}
.prolifelogo{
  border-radius: 50%;
  width:35px;
  height:30px;
  border:1px solid white;
}
hr{
  background-color: white;
  width: 100%;
  margin-left: 0px;
}
#Main{
  transition: margin-left 10s;
  position: relative;
}
.button{
  background-color: #990099;
  color:white;
  border-radius:5px;
  padding: 12px;
  cursor: default;
  outline: none;
}
.openbtn{
  background-color: #990099;
  color:white;
  border-radius:5px;
  padding: 5px;
  cursor: default;
  outline: none;
}
.button :active, .button :focus{
  outline:none;
  outline-style: none;
}
 li i {
  border-bottom: 1px solid white;
  width: 90%;
  font-size: 15px;
  padding: 5px;
  margin-bottom: 30px;
  text-transform: capitalize;
}
ul{
  list-style-type: none;
  padding-left:0px;
}
a{
  text-decoration: none;
  color: white;
  padding-left: 15px;
  font-family:"lucida calligraphy", cursive;
}
.components :hover{
  color:black;
  text-decoration: none;
  cursor: default;
  padding-left: 20px;
  transition: 0.9s;
}
footer{
  background-color: black;
  color: white;
  width:100%;
  bottom: 0px;
}
.control-label{
  margin-left: 2px;
  font-size: 12px;
}
.form-control{
  margin-left:2px;
}
.btnsubmit1{
  background-color: black;
  color: white;
  border-radius:5px;
  outline: none;
  margin-left:2px;
  padding: 5px;
}
.btnsubmit1 :hover{
  cursor: default;
}
.btnsubmit2{
  background-color:purple;
  border-radius:5px;
  outline: none;
  margin-left: 20px;
  padding: 5px;
}
.btnsubmit2:hover{
  background-color:purple;
  color: white;
  border-radius:5px;
  outline: none;
}
.btndownload{
  background:linear-gradient(#b300b3,black);
  border-radius:5px;
  border: 5px;
  width:100%;
  outline: none;
}
.btndownload :hover{
  background:linear-gradient(black,#b300b3);
  color: white;
  transition: 0.3s;
  border-radius:5px;
  padding: 6px 15px;
  cursor: default;
}
#footlinks{
  font-family:"lucida calligraphy", cursive;
  color: white;
  font-size: 12px;
  text-align: center;
  display: grid;
}
#footlinks :hover{
  font-family:"lucida calligraphy", cursive;
  color: white;
  font-size: 15px;
  text-align: center;
  display: grid;
  text-decoration: none;
}

h8{
  color: white;
  font-size:30px;
  text-align: center;
}

h7{
  color: white;
  font-size: 12px;
  text-align: center;
}
h6{
  color: black;
  font-size: 15px;
  text-align: justify;
}
h5{
  color: black;
  font-size: 15px;
  text-align: justify;
  text-indent: 30px;
}
h4{
  font-size: 15px;
  color:white;
}
h3{
  font-size: 15px;
  color:white;
}
h2{
  font-size: 15px;
  color:black;
  text-decoration: underline;
  text-align: center;
}
h1{
  font-size: 10px;
  color:white;
  text-align: center;
}
Ol{
  list-style-type: disc;
}
.parent{
  position: relative;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
.image1{
  top:0;
  left:0;
  bottom:0;
  right: 0;
  position: relative;
  width: 100%;
  height:210px;
  z-index: -6;
}
.image2{
  text-align:center;
  top:60px;
  left:5px;
  bottom:0;
  position: absolute;
  z-index: -5;
  width: 140px;
  height: 20vh;
  border-radius: 50%;
  border: 2px solid blue;
}
.image3{
  z-index: -5;
  width: 80px;
  height: 10vh;
  left:0;
}

.officialimage{
  border-radius:50%;
  height: 200px;
  width:200px;
}
.booksimage{
  width:70vw;;
}

.officialdetails{
  text-align: center;
  width:100%;
  height: auto;
}
.jumbotron{
  margin:auto;
  margin-bottom:20px;
}

.articlelayout{
  display:flex;
  color: black;
  font-family:times;
}
.articlelayout :hover{
  display:flex;
  color: black;
  font-family:times;
}
.writerdetails{
background-color:black;
width:100%;
top:180;
height:35px;
word-wrap: break-word;
color: White;
text-transform: uppercase;
padding:5px 10px;
position: absolute;
z-index: -4;
}
.topic{
  text-align: center;
  color: white;
  text-transform: uppercase;
}
.articletext{
  text-align:justify;
  color: black;
  text-indent:20px;
}
.relarticletext{
  text-align:justify;
  color: black;
  text-indent:20px;
  word-wrap: break-word;
  font-size:13px;
}
.articlead{
  background-color: black;
  text-align: center;
  padding: 2px;
}
.sources{
  color: black;
  cursor: default;
  font-family:times;
  font-size: 18px;
  display: block;
}
.sources :hover{
  color: black;
  cursor: default;
  font-family:times;
  font-size: 18px;
  text-decoration: none;
}
}
@media only screen and (min-width:600px){
*{box-sizing: border-box;
  top: 0;
  bottom:0;
  right:0;
  left:0;
}
body{
  background-color: purple;
  cursor: default;
  margin-top: 0px;
  margin-bottom: 0px;
}
#sidebar{
  background-color: #990099;
  width:0px;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  z-index: 10;
}
.sidebar{
  background-color: #990099;
  top: 0px;
  bottom: 0px;
  right:0px;
  left:0px;

}
.sidebar-header h4{
  background-color: purple;
  color: white;
  font-size: 18px;
  height: 50px;
  padding-top:10px;
  padding-left:10px;
  margin-top:0px;
  margin-bottom:20px;
  border: 3px solid #990099;
  font-family:"lucida calligraphy", cursive;

}
 .closebtn{
  position: absolute;
  font-size:30px;
  z-index: 9;
  margin-top:5px;
  margin-left: 185px;
}
 .closebtn:hover{
  text-decoration: none;
  color: white;
  cursor: default;
}
.body-text{
  z-index: 8;
}
.buttonlogo{
  position: fixed;
  background-color:purple;
  width: 100%;
  display:flex;
  height:50px;
}
.navlogo{
font-size: 25px;
color: white;
background-color: purple;
width:100%;
font-family:times;
text-align: center;
}
.slogan {
  width: 100%;
  height: 40px;
  margin-top: 50px;
  background-color:purple;
  font-size:11px;
  color:black;
  text-align: center;
  font-weight: bold;
  position:fixed;
  padding-left:1px;
  font-family:"lucida calligraphy", cursive;
}
img{
  width:300px;
  height:200px;
}

.polaroid{
  margin-bottom: 30px;
  position: relative;
  z-index: -3;
}
.item{
  width: 300px;
  margin-left: 90px;
  height: 280px;
  background-color:#990099;
}
.caption{
  font-family: times;
  color:black;
  width: 100%;
  height: auto;
  padding: 5px;
  word-wrap: break-word;
}
.prolifelogo{
  border-radius: 50%;
  width:35px;
  height:30px;
  border:1px solid white;
}
hr{
  background-color: white;
  width: 100%;
  margin-left: 0px;
}
#Main{
  transition: margin-left 10s;
  position: relative;
}
.button{
  background-color: #990099;
  color:white;
  border-radius:5px;
  padding: 12px;
  cursor: default;
  outline: none;
}
.openbtn{
  background-color: #990099;
  color:white;
  border-radius:5px;
  padding: 5px;
  cursor: default;
  outline: none;
}
.button :active, .button :focus{
  outline:none;
  outline-style: none;
}
 li i {
  border-bottom: 1px solid white;
  width: 90%;
  font-size: 15px;
  padding: 5px;
  margin-bottom: 30px;
  text-transform: capitalize;
}
ul{
  list-style-type: none;
  padding-left:0px;
}
a{
  text-decoration: none;
  color: white;
  padding-left: 15px;
  font-family:"lucida calligraphy", cursive;
}
.components :hover{
  color:black;
  text-decoration: none;
  cursor: default;
  padding-left: 20px;
  transition: 0.9s;
}
footer{
  background-color: black;
  color: white;
  width:100%;
  bottom: 0px;
}
.control-label{
  margin-left: 2px;
  font-size: 12px;
}
.form-control{
  margin-left:2px;
}
.btnsubmit1{
  background-color: black;
  color: white;
  border-radius:5px;
  outline: none;
  margin-left:2px;
  padding: 5px;
}
.btnsubmit1 :hover{
  cursor: default;
}
.btnsubmit2{
  background-color:purple;
  border-radius:5px;
  outline: none;
  margin-left: 20px;
  padding: 5px;
}
.btnsubmit2:hover{
  background-color:purple;
  color: white;
  border-radius:5px;
  outline: none;
}
.btndownload{
  background:linear-gradient(#b300b3,black);
  border-radius:5px;
  border: 5px;
  width:300px;
  outline: none;
}
.btndownload :hover{
  background:linear-gradient(black,#b300b3);
  color: white;
  transition: 0.3s;
  border-radius:5px;
  padding: 6px 15px;
  cursor: default;
}
#footlinks{
  font-family:"lucida calligraphy", cursive;
  color: white;
  font-size: 12px;
  text-align: center;
  display: grid;
}
#footlinks :hover{
  font-family:"lucida calligraphy", cursive;
  color: white;
  font-size: 15px;
  text-align: center;
  display: grid;
  text-decoration: none;
}

h8{
  color: white;
  font-size:30px;
  text-align: center;
}

h7{
  color: white;
  font-size: 12px;
  text-align: center;
}
h6{
  color: black;
  font-size: 15px;
  text-align: justify;
}
h5{
  color: black;
  font-size: 15px;
  text-align: justify;
  text-indent: 30px;
}
h4{
  font-size: 15px;
  color:white;
}
h3{
  font-size: 15px;
  color:white;
}
h2{
  font-size: 15px;
  color:black;
  text-decoration: underline;
  text-align: center;
}
h1{
  font-size: 10px;
  color:white;
  text-align: center;
}
Ol{
  list-style-type: disc;
}
.parent{
  position: relative;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
.image1{
  top:0;
  left:0;
  bottom:0;
  right: 0;
  position: relative;
  width: 100%;
  height:210px;
  z-index: -6;
}
.image2{
  text-align:center;
  top:60px;
  left:5px;
  bottom:0;
  position: absolute;
  z-index: -5;
  width: 140px;
  height: 20vh;
  border-radius: 50%;
  border: 2px solid blue;
}
.image3{
  z-index: -5;
  width: 80px;
  height: 10vh;
  left:0;
}

.officialimage{
  border-radius:50%;
  height: 200px;
  width:200px;
}
.officialdetails{
  text-align: center;
  width:100%;
  height: auto;
}
.booksimage{
  width: 250px;
  height: 200px;
}
.booksmargin{
  margin-left: 80px;
}
.jumbotron{
  margin:auto;
  margin-bottom:20px;
  color:;
}

.articlelayout{
  display:flex;
  color: black;
  font-family:times;
}
.articlelayout :hover{
  display:flex;
  color: black;
  font-family:times;
}
.writerdetails{
background-color:black;
width:100%;
top:180;
height:35px;
word-wrap: break-word;
color: White;
text-transform: uppercase;
padding:5px 10px;
position: absolute;
z-index: -4;
}
.topic{
  text-align: center;
  color: white;
  text-transform: uppercase;
}
.articletext{
  text-align:justify;
  color: black;
  text-indent:20px;
}
.relarticletext{
  text-align:justify;
  color: black;
  text-indent:20px;
  word-wrap: break-word;
  font-size:13px;
}
.articlead{
  background-color: black;
  text-align: center;
  padding: 2px;
}
.sources{
  color: black;
  cursor: default;
  font-family:times;
  font-size: 18px;
  display: block;
}
.sources :hover{
  color: black;
  cursor: default;
  font-family:times;
  font-size: 18px;
  text-decoration: none;
}
}
